/* Layout da página que apresenta a data atual. */
body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(48, 92, 128);
}

.container{
    background-color: white;
    margin: auto;
    height: 20px;
    border-radius: 20px;
    width: 300px;
    padding: 100px;
}

.container span{
    font-size: 20px;
    font: 600;
}
