.menu{
    display: block;
    background-color: var( --sidebar-bg);
    width: 12rem;
    color: var(--color-neutra);
}
.header-menu{
    display: flex;
    justify-self: start;
    padding: auto;
    margin: 20px 3px;
    font: bold;
    font-weight: 900;
    max-width: 100%;
}
.header-menu i{
    font-size: 30px;
    color: gold;
}
.lista-atividade{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.btn-nav{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    gap: 10px;
    color: var(--color-primary-6);
    width: 12rem;
    text-align: left;
    padding-left: 10px;
    background: none;
    box-shadow: none;
    border: none;
    height: 40px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-nav i{
    font-size: 1rem;
}
.btn-nav:hover{
    background: var(--sidebar-item-hover);
}
