@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --color-primary-1: #1E293B;
    --color-primary-2: #BBBDBC;
    --color-primary-3: #245F73;
    --color-primary-4: #733E24;
    --color-primary-5: #1B222B;
    --color-primary-6: #79808A;

    --color-neutra: #fff;
    --color-escuro: #000;

    --text-color: #4E555F;
}
:root {
  
  --sidebar-bg: #1D232C;          
  --sidebar-item-hover: #252C36;  
  --dropdown-bg: #FFFFFF;         

  /* Cores de Destaque */
  --accent-gold: #FFC107;         
  
  /* Tipografia e Ícones */
  --text-primary: #FFFFFF;        
  --text-secondary: #8A929C;      
  --text-dark: #333333;           
  
  /* Bordas e Divisores */
  --divider-color: #2D353F;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
body{
    display: flex;
    height: 100vh;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
