@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: rgba(16, 81, 167, 0.705);
    --primary-color-dark: rgba(10, 56, 117, 0.705);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open Sans',sans-serif;
}
.container{
    max-width: 630px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
}
    
form label,form input, form button{
    display: block;
    width: 100%;
    margin-top: 10px;
}

form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color);
    border-radius: 2px;
}
form button{
    border: none;
    background-color: var(--primary-color);
    color:#fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
}
form button:hover{
    background: var(--primary-color-dark);
}